Source: netrunner-se-thunderbird-profile
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-se-thunderbird-profile
Architecture: all
Description: Default configuration for Thunderbird in Netrunner SE
 Default configuration for Thunderbird in Netrunner SE containing
 the enigmail extensions
